<div class="container">
  <h1>{{ title }}</h1>
  <router-outlet></router-outlet>
</div>

<!-- <div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr style="width:25%;text-align:center">
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of taskData">
          <td style="width:25%;text-align:center">{{ task.title }}</td>
          <td style="width:25%;text-align:center">{{ task.description }}</td>
          <td style="width:25%;text-align:center">{{ task.isCompleted ? 'Completed' : 'In Progress' }}</td>
          <td style="width:25%;text-align:center">
            <button class="btn btn-primary btn-sm" (click)="selectTask(task)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteTask(task)">Delete</button>
            <button class="btn btn-success btn-sm" (click)="toggleTaskCompletion(task)">
              {{ task.isCompleted ? 'Mark In Progress' : 'Mark Completed' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 -->